/* General body styling */
body {
    font-family: 'Oswald', sans-serif;
    background-color: pink;
    color: black;
    line-height: 1.6;
    padding: 20px;
}

/* Title section styling */
.title h1 {
    text-align: center;
    color: black;
    font-family: 'Oswald', sans-serif;
}

/* Questions section styling */
.questions {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    font-weight: 200;
    font-size: larger;
    size:larger;
    font-family:Arial, Helvetica, sans-serif;
}

h2{
    color: black;
    font-size: larger;
    position:center;
    text-align: center;
}

img {
    width: 70%; /* Make images responsive */
    margin-left: 15%;
    margin-right:20%;
    height: auto;
    border-radius: 15px;
    margin-top: 20px;
    cursor: pointer;
    min-width: 35vw;
}

/* Result section styling */
.result {
    background-color: #e2e2e2;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 1.2em;
}

button{
    background-color:#50C878;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    display:absolute;
    text-align: center;
    
}
.options{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.option{
    position: relative;
    text-align:center;
}

.outfit{
display:block;    
}
.vibe{
    display:none;
}
.genre{
    display:none;
}
.vacation{display: none;}
.result{
    display:none;
    background:#E6E6FA;
    color: black;
}
.restart{
    font-size: larger;

}

.photo{
    display:none;
}